<div class="alert alert-info" role="alert">
  Conversor de Temperatura (Celsius para Fahrenheit)
</div>

<div class="form-group">
     <label for="celsius">Entre com a Temperatura:</label>
     <input type="text" class="form-control" id="celsius" [(ngModel)]="valorEntrada" required >
</div>

<div>
    <button type="button" class="btn btn-primary" (click)="converter(valorEntrada)">Calcular</button>
    <p>Temperatura em Fahrenheit: {{ temperaturaConvertida }}</p>
</div>

<div class="alert alert-primary" role="alert" [hidden]="estilo">
  This is a primary alert—check it out!
</div>


