<div class="alert alert-info" role="alert">
  Conversor de Temperatura (Celsius para Fahrenheit)
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-1">
            <label for="celsius">Entre com a Temperatura:</label>
            <input type="text" class="form-control" id="celsius" ngModel #temperatura>    
        </div>
    </div>    
    <br>
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="converter(temperatura.value)">Calcular</button>
            <p>Temperatura em Fahrenheit: {{ temperaturaConvertida }}</p>
          </div>      
    </div>    
</div>



