<div class="main-menu">
    <div class="main-menu-form">
      <div class="main-menu-btn"><i class="fa fa-bars"></i></div>
    </div>
    <div class="main-menu-content">
      <!-- main logo -->
      <div class="main-menu-logo" style="color: #5DADE2">
        <h2>Sistema de Mercadinho da Gente </h2>
      </div>
      <!-- navigation -->
      <ul class="main-menu-nav">
        <li><a class="nav-link" routerLink="pedidos">Pedidos</a></li>
      </ul>

      <a class="main-menu-close">
        <i class="fa fa-close"></i>
        &nbsp; Fechar
      </a>
    </div>
</div>

