<div class="main-menu">
    <div class="main-menu-form">
      <div class="main-menu-btn"><i class="fa fa-bars"></i></div>
    </div>
    <div class="main-menu-content">
      <!-- main logo -->
      <div class="main-menu-logo" style="color: #5DADE2">
        <a class="navbar-brand" href="#">
          <img src="../../assets/logo_supermercado.jpg" alt="">
        </a>
        <h2>Sistema de Mercadinho da Gente </h2>
      </div>
      <!-- navigation -->
      <ul class="main-menu-nav">
        <li>
          <a class="nav-link" routerLink="pedidos">
            <a class="main-menu-close">
              Pedidos
            </a>
          </a>
        </li>
      </ul>

    </div>
</div>
