<!--The content below is only a placeholder and can be replaced.-->

<div class="header" style="background-color: dimgrey">
</div>
<app-menu></app-menu>
<!-- <div class="body" style="background-color: dimgray">
      <app-eleicao></app-eleicao>
</div> -->
<!-- <app-meu-primeiro (numeroInvalido)="onNumeroInvalido($event)"></app-meu-primeiro> -->
<!-- <app-teste-curso></app-teste-curso> -->
<!-- Variável de Input "Valor" e variavel de OutPut -->
<!-- <app-contador valor="10" (mudou)="onMudou($event)"></app-contador> -->
<!-- <app-diretivas></app-diretivas> -->
<router-outlet></router-outlet>
