<div class="form-group">
      <label>Numero do Pedido:</label>{{id}}
</div>
<div class="form-group">
      <label>Produto:</label>{{pedido.produto['nome']}}
</div>
<!-- <div class="form-group">
      <label>Valor:</label>{{pedido.produto['valor'] | currency:'BRL' }}
</div>
<div class="form-group">
      <label>Forma de Pagamento:</label>{{pedido.forma['nome']}}
</div>
<div class="form-group">
      <label>Desconto:</label> {{pedido.forma['valor']}}
</div>
<div class="form-group">
      <label>Quantidade:</label>{{pedido['quantidade']}}
</div>
<a routerLink="/pedido">Voltar </a> -->




